body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  background-color: #282c34;
  padding: 1em 0;
  color: white;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: white;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

.home-container {
  text-align: center;
  padding: 2em 0;
}

.home-container h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.home-container p {
  font-size: 1.2em;
  color: #666;
}

.home-container a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.home-container a:hover {
  text-decoration: underline;
}

.form-container {
  max-width: 400px;
  margin: 2em auto;
  padding: 2em;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 1em;
}

.form-group {
  margin-bottom: 1em;
}

.form-group label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group select {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  background-image: url("data:image/svg+xml;utf8,<svg fill='none' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5H7z' fill='rgba(0, 0, 0, 0.54)'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
}

.btn {
  width: 100%;
  padding: 0.75em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.form-container p {
  text-align: center;
  margin-top: 1em;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content-list {
  list-style-type: none;
  padding: 0;
  margin: 2em auto;
  max-width: 800px;
}

.content-item {
  background-color: white;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content-item h3 {
  margin-bottom: 0.5em;
}

.content-item p {
  color: #666;
}

.content-item .credits {
  font-style: italic;
  color: #999;
}

.content-item .category {
  margin-top: 0.5em;
  font-weight: bold;
  color: #007bff;
}

.content-item .fileUrl {
  color: #333;
  font-size: 0.9em;
}

.content-item .details-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.content-item .details-btn:hover {
  background-color: #0056b3;
}

.category-container {
  max-width: 800px;
  margin: 2em auto;
  padding: 1em;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.category-container h2 {
  text-align: center;
  margin-bottom: 1em;
  color: #333;
}

.category-list {
  list-style-type: none;
  padding: 0;
}

.category-item {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.category-item:hover {
  background-color: #f9f9f9;
}

.category-item img {
  max-width: 80px;
  max-height: 80px;
  margin-right: 1em;
  border-radius: 5px;
}

.category-item h3 {
  margin: 0;
  font-size: 1.5em;
  color: #007bff;
}

.category-item p {
  margin: 0.5em 0 0 0;
  color: #666;
}

.category-permissions {
  margin-left: auto;
  text-align: right;
}

.category-permissions span {
  display: block;
  font-size: 0.9em;
  color: #555;
}

.permission-true {
  color: green;
}

.permission-false {
  color: red;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul li {
  margin: 0 1em;
}

nav ul li button {
  padding: 0.5em 1em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

nav ul li button:hover {
  background-color: #0056b3;
}

nav ul li button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

nav ul li:last-child {
  margin-left: auto;
}

.category-search {
  padding: 0.5em;
  margin-bottom: 1em;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-button {
  background-color: #1c6bba; 
  color: white;
  padding: 10px 20px;
  font-size: 16px; 
  border: none; 
  cursor: pointer; 
  margin-bottom: 10px; 
}

.add-button:hover {
  background-color: #155696;
}

.add-button:focus {
  outline: none; 
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 35px;
}

.form-container h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="checkbox"] {
  width: calc(100% - 10px);
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-group input[type="checkbox"] {
  width: auto;
}

.form-group button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1rem;
}

.form-group button[type="submit"] {
  background-color: #007bff;
  color: white;
}

.form-group button[type="button"] {
  background-color: #ccc;
  color: black;
  margin-top: 10px; 
}

.form-group button:hover {
  background-color: #0056b3;
}

.form-group .error-message {
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 5px;
}

.content-details {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 35px;
}

.content-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.content-details p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.content-details .image-container {
  margin-top: 10px;
  text-align: center;
}

.content-details .image-container img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.content-details a {
  color: #007bff;
  text-decoration: none;
}

.content-details a:hover {
  text-decoration: underline;
}
.back-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.back-btn:hover {
  background-color: #0056b3;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.content-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.delete-btn-container {
  margin-left: auto;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 20px;
  border-radius: 4px;
}

.delete-btn:hover {
  background-color: #c82333;
}

.delete-btn:focus {
  outline: none;
}

.home-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.home-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.home-container p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

.call-to-action {
  margin-top: 30px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  color: white;
}

.btn-secondary {
  background-color: #6c757d;
  border: none;
  color: white;
}

.btn-primary:hover,
.btn-secondary:hover {
  opacity: 0.8;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
