/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Header Styles */
header {
  background-color: #282c34;
  padding: 1em 0;
  color: white;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: white;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Home Page Styles */
.home-container {
  text-align: center;
  padding: 2em 0;
}

.home-container h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.home-container p {
  font-size: 1.2em;
  color: #666;
}

.home-container a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.home-container a:hover {
  text-decoration: underline;
}

/* Form Styles */
.form-container {
  max-width: 400px;
  margin: 2em auto;
  padding: 2em;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 1em;
}

.form-container label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container button {
  width: 100%;
  padding: 0.75em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0056b3;
}

.form-container p {
  text-align: center;
  margin-top: 1em;
}
